<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Header H1 <small class="text-muted">Texto Secundario</small></h1>
      <h2>Header H2 <small class="text-muted">Texto Secundario</small></h2>
      <h3>Header H3 <small class="text-muted">Texto Secundario</small></h3>
      <h4>Header H4 <small class="text-muted">Texto Secundario</small></h4>
      <h5>Header H5 <small class="text-muted">Texto Secundario</small></h5>
      <h6>Header H6 <small class="text-muted">Texto Secundario</small></h6>
    </div>
    <div class="col-6">
      <hr />
      <p class="h1">Paragraph with header style h1</p>
      <p class="h2">Paragraph with header style h2</p>
      <p class="h3">Paragraph with header style h3</p>
      <p class="h4">Paragraph with header style h4</p>
      <p class="h5">Paragraph with header style h5</p>
      <p class="h6">Paragraph with header style h6</p>
    </div>
    <div class="col-6">
      <hr />
      <h1 class="display-1">Header Display 1</h1>
      <h1 class="display-2">Header Display 2</h1>
      <h1 class="display-3">Header Display 3</h1>
      <h1 class="display-4">Header Display 4</h1>
    </div>
    <div class="col-12">
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quo
        veritatis et repellendus ullam ut aperiam doloribus accusantium animi
        iste nam magnam sed, asperiores at exercitationem nihil. Cumque, id
        eligendi!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, numquam ad,
        optio blanditiis veniam unde veritatis quasi consequatur dicta atque
        nisi. Molestiae doloremque eaque, impedit necessitatibus soluta quas
        mollitia ea!
      </p>
    </div>
    <div class="col-4">
      <hr />
      <p>
        Lorem ipsum, dolor <mark>sit amet</mark>consectetur adipisicing elit.
      </p>
      <p>
        <del>Lorem ipsum</del> , dolor sit amet consectetur adipisicing elit.
      </p>
      <p><s>Lorem ipsum, dolor sit amet</s>consectetur adipisicing elit.</p>
      <p><ins>Lorem ipsum, dolor sit amet</ins>consectetur adipisicing elit.</p>
      <p>Lorem ipsum, dolor sit amet <u>consectetur adipisicing elit.</u></p>
      <p>
        Lorem ipsum, dolor sit amet <small>consectetur adipisicing elit.</small>
      </p>
      <p>
        Lorem ipsum, dolor sit amet
        <strong>consectetur adipisicing elit.</strong>
      </p>
      <p>Lorem ipsum, dolor sit amet <em>consectetur adipisicing elit.</em></p>
    </div>
    <div class="col-4">
      <hr />
      <p class="text-justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur
        quos repudiandae expedita dolorem quae aut obcaecati voluptatem ipsam,
        ad sint culpa accusantium facilis provident. A odit laboriosam quasi.
        Doloremque, in!
      </p>
      <div class="card">
        <div class="card-block">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
          provident quam dolor? Suscipit repellendus facere ipsam et eum dolorum
          consequatur, odio rem ratione nobis, nam, velit eligendi eaque nemo
          temporibus.
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-4">
      <hr />
      <p class="text-left">Align left</p>
      <p class="text-center">Align center</p>
      <p class="text-right">Align right</p>
    </div>
    <div class="col-12 col-md-8">
      <hr />
      <p class="text-left text-sm-right">
        Alineado a la derecha en dispositivos pequenos en adelante
      </p>
    </div>
    <div class="col">
      <p class="text-lowercase font-weight-bold">Minuscula -Lorem ipsum</p>
      <p class="text-uppercase font-weight-normal">MAYUSCULA - Lorem ipsum</p>
      <p class="text-capitalize font-italic">Letras Capitales - Lorem ipsum</p>
    </div>
    <div class="col-6">
      <blockquote class="blockquote">
        <p class="mb-0">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, veniam
          aspernatur autem saepe illo quae animi eum vero? Est ea enim, placeat
          inventore tempora minima architecto sed possimus quibusdam voluptate.
        </p>
        <footer class="blockquote-footer"><p>Edilberto Rios</p></footer>
      </blockquote>
    </div>
    <div class="col-6">
      <blockquote class="blockquote blockquote-reverse">
        <p class="mb-0">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, veniam
          aspernatur autem saepe illo quae animi eum vero? Est ea enim, placeat
          inventore tempora minima architecto sed possimus quibusdam voluptate.
        </p>
        <footer class="blockquote-footer"><p>Edilberto Rios</p></footer>
      </blockquote>
    </div>
  </div>
</div>
